<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Liverpool FC</title>
     {%load static%}
</head>
<body>
<h1>LIVERPOOL FOOTBALL CLUB</h1>
<p>Liverpool Football Club is a professional football club based in Liverpool, England. The club competes in the Premier League, the top tier of English football. Founded in 1892, the club joined the Football League the following year and has played its home games at Anfield since its formation</p>

<img src="{% static 'assets/liv.jpg' %}" alt="">
<img src="{% static 'assets/lfc2.jpeg' %}" alt="">
<img src="{% static 'assets/lfc3.jpeg' %}" alt="">

</body>
</html>