<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MATWANA</title>
        {%load static%}
</head>
<body>
<h1>MATWANA CULTURE</h1>
<p>

• The matwana matatu culture gives a sense of belonging that brings a very unique sense of style to our transport sector.

• We should start looking at these vehicles as not only means of commuting but also as works of art that need to be appreciated.
Youth today refer to these means of transport as clubs on wheels, while others, museums on wheels.

They fill up streets, especially in Nairobi, while blaring music as they bounce and weave through traffic.

If you frequent the CBD, you will notice that each matatu is always louder than the next one. </p>

<img src="{% static 'assets/ng.jpeg' %}" alt="">
<img src="{% static 'assets/nganya2.jpeg' %}" alt="">
<img src="{% static 'assets/nganya3.jpeg' %}" alt="">
</body>
</html>