<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Trackhawks</title>
       {%load static%}
</head>
<body>
<h1>TRACKHAWKS</h1>
    <p1>The Grand Cherokee Trackhawk was born in 2017, during the New York International Auto Show. Jeep decided to team up with Hellcat V8 to create a powerful SUV that could not only conquer the roads but also blast through the racetracks. Sporting a monstrous 6.2L Hellcat HEMI V8 engine, this beast churned out a whopping 707 horsepower and 645 lb-ft of torque.

From its initial release in 2018, the Trackhawk saw new model productions each year. But like a fine wine, it didn't change too much, remaining mostly the same in terms of performance and appearance.

White Trackhawk Alley View</p1>

<img src="{% static 'assets/musclee.jpeg' %}" alt="">
<img src="{% static 'assets/track2.jpeg' %}" alt="">
</body>
</html>